body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #222;
    color: gray;
}
section{
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 500px;
}
h1{
    font-size: 50px;
    color: #FFDB9B;
    padding-top: 10px;
}

h1, h2, p, input{
    margin-left: 20px;
}
input, button{
    font-size: 20px;
    padding: 10px;
    border: none;
    text-align: center;
}
.task-item{
    background-color:#FFDB9B;
    margin: 10px 20px;
    min-height: 50px;
    border-radius: 5px;
    color: #CE8501;
    font-size: 20px;
    padding-top: 15px;
}
label{
    padding: 5px;
}

#printTasks{
    padding: 20px 0;
    width: 100%;
}

:checked + label{text-decoration: line-through;
    color: grey;}